body{
    margin: 0;
    overflow: hidden;
    background-color: #000;
    background-image: url(assets/5DB6C2F0-1294-4908-9244-A2E5B66ABCF0.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Impact, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor-instrucciones{
    width: 70%;
    max-width: 950px;
    background: rgba(0,0,0,.70);
    border: 2px solid rgba(158,149,138,.4);
    padding: 60px;
    box-sizing: border-box;
    text-align: center;
}

h1{
    margin: 0 0 40px;
    color: rgb(158,149,138);
    font-size: 70px;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-weight: normal;
}

p{
    color: rgb(210,205,196);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 1.8;
    margin-bottom: 30px;
}

strong{
    color: rgb(158,149,138);
    font-weight: bold;
}

nav{
    margin-top: 50px;
}

nav a{
    display: inline-block;
    padding: 20px 70px;
    background: rgba(0,0,0,.55);
    border: 2px solid rgb(158,149,138);
    color: rgb(158,149,138);
    text-decoration: none;
    text-transform: uppercase;
    font-family: Impact, sans-serif;
    font-size: 40px;
    letter-spacing: 10px;
    transition: .35s;
}

nav a:hover{
    background: rgb(158,149,138);
    color: #000;
    transform: scale(1.05);
}