body{
    background-color: hotpink;
    font-family: 'Impact', sans-serif;
}

nav {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav a {
  margin-top: 52px;
  padding: 45px 49px;
  background-color: #000000;
  color: hotpink;

  text-decoration: none;
  font-size: 100px;
  letter-spacing: 23px;
  text-transform: uppercase;
  
}

nav a:hover {
  background-color: rgb(250, 250, 250);
}

    
menu {

}